.hero {
  background-image: url("/assets/images/hero-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 640px;
  // background-position: top right;
  // background-repeat: no-repeat;
  // background-color: #3b41e3;
  transform: skewY(-6deg);
  transform-origin: top left;
  // width: 100%;
  // height: 640px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -999999;
}

.hero-project {
  background-image: url("/assets/images/auth-background.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-color: #3b41e3;
  transform-origin: top left;
  width: 100%;
  height: 350px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -999999;
}
