.page-hero {
  padding-top: 50px;
  padding-bottom: 80px;
}

h1 {
  font-weight: 400;
  font-size: 36px;
  color: #fff;
}

p {
  font-weight: 300;
  font-size: 20px;
  color: #fff;
}

.hero-underline {
  text-decoration-color: #1abc9c;
}

.btn-hero {
  background-color: #fea929;
  box-shadow: none;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  min-width: 235px;
  padding: 10px;
  border-radius: 50px;
  transition: all 0.5s ease-in;

  &:hover {
    background-color: #1abc9c;
    color: #fff;
  }
}

.page-step {
  padding-top: 100px;
  padding-bottom: 80px;
  background-image: linear-gradient(
    to top,
    #ebfbff,
    #ecfdfb,
    #f1fdf7,
    #f7fdf3,
    #fffdf2
  );
  background-position: center;
  background-repeat: no-repeat;
}

.new-project {
  margin-top: 80px;

  .title-project {
    margin-bottom: 50px;

    h2 {
      font-weight: 400;
      font-size: 30px;
      color: #1a202c;
    }

    p {
      text-align: right;

      a {
        font-weight: 400;
        font-size: 16px;
        color: #1a202c;
        text-decoration: none;
      }
    }
  }

  .card-project {
    transition: all 0.5s ease 0s, opacity 0.5s cubic-bezier(0.5, 0, 0, 1) 1ms;
    max-height: 460px;
    overflow-y: hidden;
    margin-bottom: 40px;
    border-radius: 20px;
    border: 1px solid #c0d4f4;
    transition: all 0.5s ease;
  }

  .card-project:hover {
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.15);
  }

  .card-title {
    margin-top: 20px;
    font-weight: 500;
    font-size: 30px;
    color: #1a202c;
  }

  .card-text {
    font-weight: 300;
    font-size: 16px;
    color: #1a202c;
    text-align: left;
  }

  .percent {
    font-weight: 400;
    font-size: 16px;
    color: #1a202c;
  }

  .price {
    font-weight: 600;
    font-size: 16px;
    color: #1a202c;
  }

  .card-project .button-cta {
    opacity: 0;
    box-shadow: none;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    border-radius: 50px;
    transition: all 300ms ease;
  }

  .card-project:hover .button-cta {
    transform: translateY(-20px);
    background-color: #fea929;
    opacity: 1;
  }

  .card-project .button-cta {
    background-color: #fea929;
    transition: all 300ms ease;
  }

  .card-project .button-cta:hover {
    background-color: #1abc9c;
  }

  .card-project:hover .progress,
  .card-project:hover .progress-info {
    opacity: 0;
    height: 0px;
    margin: 0px;
    padding: 0px;
    transition: all 300ms ease;
  }

  .progress {
    border-radius: 20px;
    height: 12px;
  }
}

.testimonial {
  background-image: url(/assets/images/bg-testimonial.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 80px;

  .title-testimoni {
    h2 {
      font-weight: 400;
      font-size: 30px;
      color: #ffffff;
    }
  }

  .testi-text {
    margin-top: 50px;

    h3 {
      font-weight: 300;
      font-size: 25px;
      color: #ffffff;
      font-style: italic;
    }

    h4 {
      margin-top: 20px;
      font-weight: 600;
      font-size: 20px;
      color: #ffffff;
      letter-spacing: 1px;
    }

    p {
      font-weight: 400;
      font-size: 20px;
      color: #b5bec7;
    }
  }

  .testimonial-user {
    opacity: 0.2;
  }
  .testimonial-user.active {
    opacity: 1;
    border: 5px solid #fff;
    box-shadow: 0 0 0 1px #cfa519;
  }
}
