.project-container {
  padding-top: 50px;
}

.row-project {
  margin-top: 50px;
}

.project-container {
  .card-image-project {
    border-radius: 20px;
    border: 1px solid #cbd5e0;

    img {
      border-radius: 25px;
      padding: 10px;
    }
  }

  .card-leader {
    border-radius: 20px;
    border: 1px solid #cbd5e0;

    .body-leader {
      h1 {
        font-weight: 400;
        font-size: 16px;
        color: #000000;
      }

      .title {
        font-weight: 600;
        font-size: 20px;
        color: #2d3748;
      }

      .subtitle {
        font-weight: 400;
        font-size: 16px;
        color: #cbd5e0;
      }
    }
  }

  h2 {
    font-weight: 600;
    font-size: 16px;
    color: #000000;
  }

  .list-check li {
    background: url("/assets/images/icon-checklist.svg") no-repeat left 8px;
    padding: 6px 0px 3px 28px;
  }

  input.form-control:focus {
    box-shadow: none;
    border-radius: 50px;
  }

  input.form-control::placeholder {
    color: #cbd5e0;
  }

  input.form-control {
    border-radius: 50px;
    border: 1px solid #cbd5e0;
  }

  .btn-fund-now {
    font-weight: 600;
    font-size: 16px;
    background-color: #fea929;
    color: #fff;
    padding: 12px;
    box-shadow: none;
    border-radius: 50px;
    transition: all 0.5s ease-in;

    &:hover {
      background-color: #1abc9c;
      color: #fff;
    }
  }

  .card-thumb-project {
    border-radius: 20px;
    border: 1px solid #cbd5e0;
  }

  .item-thumbnail img {
    padding: 8px;
    border-radius: 20px;
    transition: all 0.3s ease;
  }

  .item-thumbnail:hover {
    background-color: #ff872e;
    border-radius: 20px;
  }
  .item-thumbnail:hover:after {
    position: absolute;
    top: 38%;
    left: 41%;
    content: url("/assets/images/icon-thumbnail-hover.svg");
  }
  .item-thumbnail:hover img {
    opacity: 0.3;
  }

  .detail-descreiption {
    margin-bottom: 250px;

    h2 {
      font-weight: 500;
      font-size: 36px;
      color: #1a202c;
    }

    h3 {
      font-weight: 400;
      font-size: 20px;
      color: #000000;
    }

    .progress {
      border-radius: 50px;
      height: 23px;
    }

    .progress-detail {
      .percent-detail {
        font-weight: 400;
        font-size: 24px;
        color: #000000;
      }

      .price-detail {
        font-weight: 600;
        font-size: 24px;
        color: #000000;
      }
    }
  }
}
